body{
    margin: 0;
}
ul {
    list-style: none;
}
nav ul.navA {
    margin-top: 0px;
    margin-left: 800px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}
nav.navigateA {
    height: 50px;
    background-color: gainsboro;
}
nav.navigateB {
    height: 50px;
    background-color: forestgreen;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav.navigateA img {
    height: 110px;
}
header button {
    background-color: gray;
    border-color: black;
    border-left-style: none;
    border-width: 1.5px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    padding: 10px;

}
header form {
    border-style:ridge;
    border-right-style:none;
    border-color: black;
    border-width: 1.5px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 10px;
    width: 200px;
}
header div.sök {
    margin-top: 35px;
    height: 40px;
}
header {
    margin-left: 100px;
    margin-right: 100px;
}