body{
    margin: 0;
}
ul {
    list-style: none;
}
nav ul.navA {
    margin-top: 0px;
    margin-left: 800px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}
nav ul li a img {
    height: 60px;
}
nav ul li.nav1{
    margin-top: 20px;
}
nav {

    background-color: gainsboro;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
header {

}
header div img {
    height: 100px;
}
header form {
    border-style: groove;
    border-color: red;
}